<!doctype html>
<html ng-app="app">

<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/menu.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">

    <title>Active Bean Fitness App</title>

    <!-- tab js -->
    <script src="js/angular-1.4.2/angular.js"></script>
    <script src="js/angular-1.4.2/angular-touch.js"></script>
    <script src="js/angular-1.4.2/angular-animate.js"></script>
    <script src="js/angular-1.4.2/angular-cookies.js"></script>

    <!-- Menu -->
    <script src="js/jquery-1.9.0.min.js"></script>
    <script src="js/menu.js"></script>

</head>

<body>
<div ng-controller="MainCtrl">

    <header>
        <div class="row">
            <div class="col-md-6">
                <h1 id="logo"></h1>
            </div>
            <div class="col-md-6">
                <nav id="top-nav">
                    username: {{username}}
                </nav>
            </div>
        </div>
    </header>

    <nav>
        <div id='cssmenu'>
            <ul>
                <li class='active' ng-click="initHomePage()"><a><span>Home</span></a></li>
                <li class='has-sub'><a><span>Fitness Log</span></a>
                    <ul>
                        <li ng-click="initActivityPage()"><a><span>Add Activity</span></a></li>
                        <li ng-click="initLogPage()"><a><span>View Log</span></a></li>
                    </ul>
                </li>
                <li class='has-sub'><a><span>My Stuff</span></a>
                    <ul>
                        <li ng-click="initWorkoutsPage()"><a><span>Workouts</span></a></li>
                        <li ng-click="initEquipmentPage()"><a><span>Equipment</span></a></li>
                        <li ng-click="initCoursesPage()" class='last'><a><span>Courses</span></a></li>
                    </ul>
                </li>
                <li class='has-sub'><a><span>Reports</span></a>
                    <ul>
                        <li ng-click="initMyProgress()"><a><span>My Progress</span></a></li>
                        <li ng-click="initViewOthers()" class='last'><a><span>View Others</span></a></li>
                    </ul>
                </li>
                <li ng-click="initLoginPage()" ng-hide="authenticated" class='last'><a><span>Login</span></a></li>
                <li ng-click="logout()" ng-hide="!authenticated" class='last'><a><span>Logout</span></a></li>
                <li ng-click="initSignUpPage()" ng-hide="authenticated" class='last'><a><span>Sign-Up</span></a></li>
            </ul>
        </div>
    </nav>
    <br>

    <div id="homeNav"
         ng-include="'partials/home-page.html'"
         ng-hide="homePage != activePage">
    </div>
    <div id="activityNav"
         ng-include="'partials/activity-page.html'"
         ng-hide="activityPage != activePage">
    </div>
    <div id="viewLogNav"
         ng-include="'partials/view-log-page.html'"
         ng-hide="logPage != activePage">
    </div>
    <div id="workoutsNav"
         ng-include="'partials/workouts-page.html'"
         ng-hide="workoutsPage != activePage">
    </div>
    <div id="equipmentNav"
         ng-include="'partials/equipment-page.html'"
         ng-hide="equipmentPage != activePage">
    </div>
    <div id="coursesNav"
         ng-include="'partials/courses-page.html'"
         ng-hide="coursesPage != activePage">
    </div>
    <div id="progressNav"
         ng-include="'partials/progress-page.html'"
         ng-hide="progressPage != activePage">
    </div>
    <div id="loginNav"
         ng-include="'partials/login-page.html'"
         ng-hide="loginPage != activePage">
    </div>
    <div id="signUpNav"
         ng-include="'partials/sign-up.html'"
         ng-hide="signUpPage != activePage">
    </div>
    <div id="viewOthersNav"
         ng-include="'partials/view-others-page.html'"
         ng-hide="viewOthersPage != activePage">
    </div>

    <footer>
        <div ng-repeat="msg in messages">
            <ul>
                <li>{{msg}}</li>
            </ul>
        </div>
    </footer>

</div>

<script src="js/app.js"></script>
</body>
</html>
