<form name="addActivityForm"
      class="form-horizontal"
      role="form"
      ng-submit="addActivity()">
    <fieldset>
        <legend>Add Activity</legend>
        <br>

        <div class="form-group">
            <label for="activity_type" class="col-sm-1 control-label">Activity</label>

            <div class="col-sm-4">
                <select id="activity_type"
                        class="form-control"
                        ng-model="activityToAdd.activity"
                        name="type">
                    <option value=""></option>
                    <option value="Running">Running</option>
                    <option value="Cycling">Cycling</option>
                    <option value="Hiking">Hiking</option>
                    <option value="Swimming">Swimming</option>
                </select>
            </div>
            <label for="activity_comment" class="col-sm-1 control-label">Comment</label>

            <div class="col-sm-4">
                <textarea id="activity_comment"
                          class="form-control"
                          ng-model="activityToAdd.comment"
                          name="comment">
                </textarea>
            </div>
            <div class="col-sm-7">
                <button type="button" class="btn btn-info" ng-click="addActivity()">Add</button>
            </div>
        </div>
    </fieldset>
</form>

<pre>
     activePage = {{ activePage }}<br>
     activity = {{ activityToAdd }} <br>
   </pre>
   

    
 
