    <form  name="addActivityForm" 
           class="form-horizontal"
           role="form" > 
      <fieldset>
        <legend>Add Activity</legend>
        <br>
        <div class="form-group">
          <label for="activity_type" class="col-sm-1 control-label">Activity</label>
            <div class="col-sm-4">
              <select class="form-control" 
                      ng-model="activity.type" 
                      name="type">
                    <option value=""></option>
                    <option value="Running">Running</option>
                    <option value="Cycling">Cycling</option>  
                    <option value="Hiking">Hiking</option>
                    <option value="Swimming">Swimming</option>
              </select>              
            </div>
            <div class="col-sm-7">
            </div>
        </div>
   </fieldset>
 </form>

   <pre>
     activePage = {{ activePage }}<br>
     activity = {{ activity }} <br>
     dan value = {{danObject.input1}}<br>
   </pre>
   

    
 
