<section>

    <h2>Welcome to the Home Page!</h2>

    Technologies we are using or plan to use for various ports of this project:
    <ul>
        <li>AngularJS (in use)</li>
        <li>Polymer</li>
        <li>Dart</li>
        <li>Node.js</li>
        <li>Spring Boot (in use)</li>
        <li>Elasticsearch (in use)</li>
        <li>Cassandra</li>
        <li>MongoDB</li>
        <li>MySQL</li>
        <li>Java 8 (in use)</li>
        <li>IntelliJ IDEA (in use)</li>
    </ul>

</section>