<section>
    <h2>Welcome to the Workouts Page!</h2>

    <form name="searchActivityForm2"
          class="form-horizontal"
          role="form"
          ng-submit="searchActivity()">
        <fieldset>
            <legend>Search</legend>
            <br>

            <div class="form-group">
                <div class="col-sm-4">
                    <input id="search_activity"
                           type="text"
                           class="form-control"
                           placeholder="..."
                           ng-model="searchCriteria.fullText"
                           ng-minlength="1"
                           ng-maxlength="100"
                           ng-required="true"/>
                </div>
                <div class="col-sm-7">
                    <div class="btn-toolbar">
                        <div class="btn-group">
                            <button type="button" class="btn btn-info" ng-click="searchActivity()">Search</button>
                        </div>
                    </div>
                </div>
            </div>

            Search criteria: {{searchCriteria}}

        </fieldset>

        <fieldset>
            <legend>Results</legend>
            <br>

            <div ng-repeat="result in searchResults">
                <ul>
                    <li>date: {{result.date}}</li>
                    <li>activity: {{result.activity}}</li>
                    <li>distance: {{result.distance}} {{result.unit}}</li>
                    <li>duration: {{result.dist_hour}}h {{result.dist_min}}m {{result.dist_sec}}s</li>
                    <li>comment: {{result.comment}}</li>
                </ul>
            </div>

        </fieldset>

    </form>
</section>